body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a5a1a1;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}

.container {
  padding: 30px;
  min-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  color: #333333;
  margin-bottom: 20px;
}

.inputTask {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  background-color: #f8f8f8;
  color: #333333;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #e3e3e3;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

.inputTask::placeholder {
  color: #a5a1a1;
}

.btn {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #7e57c2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6a4f9b;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #a5a1a1;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.checkbox:checked {
  border-color: #7e57c2;
}

.taskLabel {
  font-size: 16px;
  color: #333333;
}

.completedTask {
  text-decoration: line-through;
  color: #7e57c2;
}

.removeButton {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(126, 87, 194, 0.5);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  background-color: rgba(126, 87, 194, 0.8);
}
